[connection]
id=zerolab-usb
uuid=<generated-at-install>
type=ethernet
interface-name=usb0

[ethernet]

[ipv4]
address1=10.13.37.1/30
method=manual
never-default=true

[ipv6]
addr-gen-mode=default
method=disabled

[proxy]
