[connection]
id=zerolab-phone-tether
uuid=<generated-at-install>
type=bluetooth
autoconnect=false

[bluetooth]
bdaddr=AA:BB:CC:DD:EE:FF
type=panu

[ipv4]
method=auto
route-metric=900

[ipv6]
addr-gen-mode=default
method=disabled

[proxy]
